<section class="section">
    <div class="container">
        <h1 class="title">{{article.title}}</h1>
        <p>{{article.content}}</p>
        <a class="button" href="/article/edit/{{article.id}}">Modifier</a>
    </div>
</section>